* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #8d856d, #723d2e);
  color: white;
  font-family: 'Poppins', cursive;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-width: 20vh;
  display: flex;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}
form button {
  color: #723d2e;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button :hover {
  background: #723d2e;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: #8d856d;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
